{% extends 'base.html.twig' %}

{% block title %}Noor Humanity
{% endblock %}

{# block javascript #}


{% block body %}
	<section class="head">
		<h1>Actions</h1>
		<div>
			<p>
				Nous somme une association ...
			</p>
		</div>


	</section>

	{# Partie du site qui va referencer la derniere actualité de l'association #}
	<section class="article">
		<h1>Notre Equipe</h1>
        <div class="container">        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis sunt perspiciatis alias doloribus, quos non inventore unde accusamus sint, suscipit consequuntur ex dignissimos tempore, debitis voluptatibus blanditiis tempora molestias fuga.</p>
</div>
	</section>

	{# Partie du site qui reference les mission #}
	<section class="mission">
		<h1> Nous contacter </h1>
        <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2619.7794599033105!2d2.304729114324803!3d48.95768509643097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e668bfd4199061%3A0xe28b3762c2cd2464!2s23%20Chemin%20d&#39;Exploitation%2C%2093800%20%C3%89pinay-sur-Seine!5e0!3m2!1sfr!2sfr!4v1618485256149!5m2!1sfr!2sfr" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>	
            </div>
            <div class="col-sm-6">
                <p>23 Chemin d'Exploitation, Épinay-sur-Seine</p>
                <p>Numero de telephone</p>
                <p>NoorHumanityMail@gmail.com</p>
            </div>
        </div>
</section>
        </div>


{% endblock %}
