{% extends 'base.html.twig' %}

{% block title %}Noor Humanity
{% endblock %}


{# block javascript #}


{% block body %}
	<section class="head">
		<h1>Noor Humanity</h1>
		<div class="container">
			<p>
				Ensemble, faisons un geste afin d'illuminer la vie d'autruit
			</p>
		</div>


	</section>

	{# Partie du site qui va referencer la derniere actualité de l'association #}
	{# <section class="article">
		<h1>Notre Actus</h1>
		<article>
			<img src="{{ asset('images/Maraude.jpg') }}" alt="">
			<div class="article-text">
				<h3>Quartier Gare de l'est</h3>
				<small class="text-muted">Vendredi 3 mars 2020
				</small>
				<p>aujourdhui, malgres le froid, Noor Humanity dans la continuité de ses actions, avec la participation de nombreux benevole, ....
				</p>
				<a href="">Lire la suite</a>
			</div>
		</article>
	</section> #}

	{# Partie du site qui reference les mission #}
	{# <section>
		<h1>Notre mission</h1>
		<div class="container mt-4 mission-image">
			<div class="mission">
				<img src="{{ asset('images/Social.jpg') }}" alt="">
				<h2  class="mask">SOCIAL</h2>
			</div>
			<div class="mission">
				<img src="{{ asset('images/Humanity.jpg') }}" alt="">
				<h2 class="mask">HUMANITE</h2>
			</div>
			<div class="mission">
				<img src="{{ asset('images/Education.jpg') }}" alt="">
				<h2  class="mask">EDUCATION</h2>
			</div>

		</div>
		</section> #}
		


	{% endblock %}
