{% extends 'base.html.twig' %}

{% block title %}Noor Humanity
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/app.js')}}"></script>
{% endblock %}

{# block javascript #}


{% block body %}

	<section>

		<div id="mission-title">
			<h1> Notre mission </h1>
		</div>

		<div class="missions container">
			<div class="mission">
				<img src="{{ asset('images/repas.jpg') }}" alt="" class="reveal-1">
				<div class="mission-text reveal-1" id="mission-text1">
					<p class="card-text">+ 1500 repas distribuer</p>
				</div>


			</div>
			<div class="mission">
				<img src="{{ asset('images/Colis.jpg') }}" alt="" class="reveal-1">
				<div class="mission-text reveal-1" id="mission-text2">
					<p class="card-text">Des colis alimentaires Des colis Hygiene</p>
				</div>

			</div>
			<div class="mission">
				<img src="{{ asset('images/kit.jpg') }}" alt="" class="reveal-1">
				<div class="mission-text reveal-1" id="mission-text3">
					<p class="card-text">Des kit grands froid distribuer au sans domicile fixe et famille précaire</p>
				</div>

			</div>
		</div>

		<div id="programme">
			<img src="{{ asset('images/programme.jpg') }}" alt="" class="reveal-1">
			<h2 class="reveal-2">Objectif réinsertion</h2>
			<p class="reveal-3">Un cycle de 6 mois de cours de francais pour les réfugier et les migrants avec un accmpagnement vers un logement et l'emploi</p>
		</div>
		<section>
		<h1 id="cestaussi"> C'est aussi </h1>
			<div id="aussi">
			
				<div class="aussi reveal-1">
					<p class="reveal-3">Une grande distribution de vetement 2 fois par ans, nour humanity s'occupe de la récuperation, du triage et de la redistribution des vétement.</p>
				</div>

				<div class="aussi reveal-1">
					<p class="reveal-3">Plus de 50 familles par ans accompagner et bien plus de sans abris, tous ça grace a nos généreux donateurs et on les remercie.</p>
				</div>
			</div>


		</section>


	</section>

	{# Partie du site qui va referencer la derniere actualité de l'association #}
	<section class="Team">
		<h1>Notre Equipe</h1>
		<div class="container m-4">
			<p> Nous somme 5 jeunes femmes qui ce sont rencontrer dans le monde associatifs et qui on voulus paliers a des besoins qu'elles ont pu onserver </p>
			<p>Cette équipe est composer de :</p>
			<ul>
				<li>Hajar: Aide soignante</li>
				<li>Amira : Communication</li>
				<li>Safa : Infirmière</li>
				<li>Nassima: Infirmière</li>
				<li>Sabrina: Chargée d'insertion professionelle</li>
			</ul>		
		</div>
	</section>
	<section class="SocialMedia" id="close">
			<h1>Nous suivre sur les reseau sociaux</h1>
			<div class="media-icon">
				<p>
					<i class="lab la-snapchat-ghost social-media" id="snap"></i>NoorHumanity</p>

				<p>
					<i class="lab la-instagram social-media" id="insta"></i>
					<span id="social-media">NoorHumanity</span>
				</p>

			</div>


	</section>
	{# Partie du site qui reference les mission #}
	<section class="mission">
		<h1>Nous contacter</h1>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2619.7794599033105!2d2.304729114324803!3d48.95768509643097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e668bfd4199061%3A0xe28b3762c2cd2464!2s23%20Chemin%20d&#39;Exploitation%2C%2093800%20%C3%89pinay-sur-Seine!5e0!3m2!1sfr!2sfr!4v1618485256149!5m2!1sfr!2sfr" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
				<div class="col-sm-6">
					<p>23 Chemin d'Exploitation, Épinay-sur-Seine</p>
					<p>Numero de telephone</p>
					<p>NoorHumanityMail@gmail.com</p>
				</div>
			</div>
		</section>
	</div>


{% endblock %}
