/* Le css pour les visiture munie d'un ipad */
body {
    /* font-family: 'Patua One', cursive; */
}

footer {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 15px;
    background-color: black;
    height: 8vh;
}

#head-title {
    display: flex;
}

article {
    justify-content: space-between;

}

.article-text {
    width: 40vw;
    padding: 5%;
    background-color: rgb(255, 250, 242);
    position: relative;
    top: -50px;
    border-radius: 2px;
}

.card {
    padding: 20px !important;
}

.article img {
    width: 60vw;
}

#logo {
    width: 200px;
}



h1 {
    text-align: center;
}

.head {
    height: 100vh;
    background-color: rgb(255, 250, 242);
}

.head h1 {
    position: relative;
    top: 50%;
}

.head div {
    justify-content: space-around;
    display: flex;
    position: relative;
    top: 60%;
}

.article {
    justify-content: space-around;
}

.article h1 {
    padding: 2em 0em;
}

footer {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 15px;
    background-color: black;
    height: 8vh;
}

#head-title {
    display: flex;
}

article {
    justify-content: space-between;

}

.article-text {
    width: 40vw;
    padding: 5%;
    background-color: rgb(255, 250, 242);
    position: relative;
    top: -50px;
    left: 50%;
    border-radius: 2px;
}

.card {
    padding: 20px !important;
}

.mission-image {
    display: flex;
    justify-content: space-around;
}

.mission {
    position: relative;
}

.mask {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    transition: all 0.5s linear;
    opacity: 0;
}

.missions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

.mission {
    margin-top: 100px;
    overflow: hidden;
}

.mission img {
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
}

.mission-text {
    padding: 20px;
    width: 300px;
    height: 100px;
    overflow: hidden;
    text-align: center;

}

#mission-text1 {
    background-color: #ffffa4;
    padding: 30px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}

#mission-text2 {
    background-color: #9effd2;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}

#mission-text3 {
    background-color: #9d9dff;
    color: white;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
}

#programme {
    margin-top: 200px;
    text-align: center;
    position: relative;
}

#programme img {
    width: 80%;
    align-items: center;
    border-radius: 5px;
}

#programme h2 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 50px;
}

#programme p {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 35%;
    left: 15%;
    width: 20%;
    text-align: left;
}

#aussi {
    display: flex;
    margin: 50px;
    padding: 50px;
    justify-content: space-between;
}

.aussi {
    background-color: #fffff2;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#cestaussi {
    margin: 100px;
}

#mission-title {
    height: 30vh;
    position: relative;
}

#mission-title h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Team{
    padding: 50px;
}
.Team p{
    margin-top: 80px;
}
.Team li{
    list-style: none;
}
@media screen and (max-width: 800px) {
    .article img {
        width: 100vw;
    }

    #logo {
        width: 200px;
    }



    h1 {
        text-align: center;
    }

    .head {
        height: 50vh;
        background-color: rgb(255, 250, 242);
    }

    .head h1 {
        position: relative;
        top: 150px;
    }

    .head div {
        justify-content: space-around;
        display: flex;
        position: relative;
        top: 40%;
    }

    .article {
        justify-content: space-around;
    }

    .article h1 {
        padding: 2em 0em;
    }

    .article-text {
        width: 90vw;
        padding: 5%;
        margin: 0px 5%;
        background-color: rgb(255, 250, 242);
        position: relative;
        top: -50px;
        border-radius: 2px;
        left: 0;
    }

    .mission-image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mission-image img {
        margin-top: 20px;
    }

    .mask {
        font-weight: bolder;
        color: black;
        opacity: 1;
        margin-left: 15vw;
    }
    #mission-title {
        height: 5vh;
        position: relative;
        align-items: center;
    }
    .missions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }
    #programme img {
        width: 100%;
        align-items: center;
        border-radius: 5px;
    }
    #programme h2 {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 10%;
        left: 15%;
        font-size: 30px;
    }
    
    #programme p {
        color: rgb(0, 0, 0);
        position: relative;
        left: 0;
        width: 100%;
    }
    #cestaussi {
        margin: 10px;
    }
    #aussi {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
    }
    
    .aussi {
        background-color: #fffff2;
        color: rgb(0, 0, 0);
        border-radius: 5px;
        margin: 10px;
        padding: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }
}

.mission-image img {

    transition: all .4s ease-in-out;
    z-index: -1;
}

.mission-image:hover img {
    transform: scale(1.1);
    z-index: -1;
}

.mission-image:hover .mask {
    opacity: 1;
}

.Team {
    height: 60vh;
}

.SocialMedia h1 {
    margin: 5em 0;
}

.social-media {
    font-size: 100px;
    border-radius: 15px;
}

.media-icon {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

#social-media {
    color: #833AB4;
}

#snap {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 248, 85);
}

#insta {
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
}

[class*="reveal-"] {
    opacity: 0;
    transform: translateY(-50px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0px);
    transition: .5s;
}

.reveal-2 {
    transition-delay: .2s;
}

.reveal-3 {
    transition-delay: .4s;
}