{% extends 'base.html.twig' %}

{% block title %}Noor Humanity
{% endblock %}


{# block javascript #}


{% block body %}
	{# Partie du site qui va referencer la derniere actualité de l'association #}
    <h1>Notre actu</h1>
    {% for article in articles %}
	<section class="article">
		
		<article>
			<img src="{{ asset('images/'~ article.images) }}" alt="{{ article.images }}">
			<div class="article-text">
				<h3>{{ article.titre }}</h3>
				<small class="text-muted">{{ article.createdAt|date() }}
				</small>
				<p>{{ article.contenu }}
				</p>
				<a href="">Lire la suite</a>
			</div>
		</article>
        <hr>
	</section>
    {% endfor %}

	{% endblock %}
