{% extends 'base.html.twig' %}

{% block title %}Contactez nous
{% endblock %}

{% block body %}
	<section style="height: 80vh;" class="container mt-4">
		{{ form_start(form) }}
		<button class="btn btn-dark btn-lg btn-block">Envoyer</button>
		{{ form_end(form) }}
	</section>

{% endblock %}
